.grid {
    display: grid;                    /* Thiết lập grid layout cho phần tử chứa */
    grid-template-columns: 30% 30%;    /* Tạo hai cột, mỗi cột chiếm 40% chiều rộng */
    gap: 20px;                         /* Khoảng cách giữa các cột */
    justify-content: center;           /* Căn giữa các cột theo chiều ngang */
}

.item {
    background-color: lightsalmon;      /* Màu nền cho mỗi phần tử */
    padding: 20px;                    /* Khoảng cách bên trong mỗi phần tử */
    text-align: center;               /* Căn giữa nội dung trong mỗi phần tử */
    font-size: 30px;
}
.tieude{
    background-color: gray; color:black;
}
html{
    background: linear-gradient(to right, skyblue, lightgreen);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#example{
    width: 500px;
    height :150px;
    color: green; 
    border-style: solid;
    border-color: black;
    padding: 5px;
}
#exampleTitle{
font-size: 20px;
margin-left: 130px;
margin-right: 130px;
}
#exampleText{
    font-size: 15px;
    font-style:italic;
    }
body{
    font-family: sans-serif;
}
p{
    font-style: italic;
}
.link-style{
    text-align: center;
    color:red;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
}
li {
    list-style-type: none;  /* liststyle */       /* set padding */
    color: #333;            /* set text color */
    font-style: bold;
}
nav{
    display: inline-block;
    width: 80%;
}
nav img {
    width: 30%;
}